<tr class="insideContent">
    <th>{{id}}</th>
    <th><img src="{{img}}" width="50px" height="50px"></th>
    <th style="width: 300px;">{{name}}</th>
    <th>{{size}}</th>
    <th>{{type}}</th>
    <th><a href="delete/{{id}}">Delete</a></th>
    <th><a href="info/{{id}}">Info</a></th>
    <th><a href="download/{{id}}">Download</a></th>
</tr>
<script>

</script>