<body>
    {{> side}}
    <div class="infoBox"><h1>Id:</h1><a>{{id}}</a></div>
    <div class="infoBox"><h1>Size:</h1><a>{{size}}</a></div>
    <div class="infoBox"><h1>Path:</h1><a>{{path}}</a></div>
    <div class="infoBox"><h1>Name:</h1><a>{{name}}</a></div>
    <div class="infoBox"><h1>Type:</h1><a>{{type}}</a></div>
    <div class="infoBox"><h1>mtime:</h1><a>{{mtime}}</a></div>
</body>